@import url('https://fonts.googleapis.com/css2?family=Poppins:wghts@400,500,600,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Poppins";
    background-color: hsl(0, 100%, 74%);
    background-image: url('./bg-intro-mobile.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

.container {
    padding: 20px;
    color :white;
}

.info > input {   
    width: 100%;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid hsl(249,10% ,26%);
    padding: 15px;
    font-weight: 600;
}  

.left {
    text-align: center;
    padding: 10px;  
}
.left > h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.left > p {
    font-size: 24px;
}
.right {
    padding: 10px;  
}
.trial {
    margin: 10px auto;
    padding: 15px 10px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
}
.trial > a,
.trial > a:hover{
    color: white;
    text-decoration: none;
}
.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    color: black;
}
.form-btn {
    background-color: green;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: white;
    margin: 10px auto;
    text-transform: uppercase;
    align-content: center;
}
.terms {
    text-align: center;
}
.terms > a,
.terms > a:hover{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}   
/** ipad view */
 @media only screen and (min-width: 600px) { 
    .container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;   
    }
    .container > div {
        flex: 1;
        margin: 10px;
    }
    .left {
        text-align: left;
        padding: 20px;
    }    
} 

/* desktop view */
@media only screen and (min-width: 768px) {
    body {
        background-image: url('./bg-intro-desktop.png')
    }
    .container {
        padding: 100px;   
    }
    .left > h1{
        font-size: 52px;
    }
    .left > p {
        font-size: 32px;  
    }
} 